<!DOCTYPE html>
<html lang="en" ng-app = "LogBookApp" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head >
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="author" content="VSPavlov"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Angular Material</title>
    <link rel="stylesheet" href = "../static/angularjs/bootstrap.css" th:href = "@{/webjars/bootstrap/3.3.4/css/bootstrap.css}"/>
    <link rel="stylesheet" href = "../static/angularjs/bootstrap-theme.css" th:href = "@{/webjars/bootstrap/3.3.4/css/bootstrap-theme.css}"/>
    <link rel="stylesheet" href = "../static/angularjs/style.css" th:href = "@{/angularjs/style.css}"/>

    <script src = "../static/angularjs/bootstrap.js" th:src = "@{/webjars/bootstrap/3.3.4/js/bootstrap.js}"></script>
    <script src = "../static/angularjs/dropdown.js" th:src = "@{/webjars/bootstrap/3.3.4/js/dropdown.js}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <link rel="stylesheet" href = "../static/angularjs/angular-material.css"/>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css"/>


    <script src = "../static/angularjs/angular.js" th:src = "@{/webjars/angularjs/1.3.15/angular.js}"></script>
    <script src = "../static/angularjs/angular-material.js"></script>
    <script src = "../static/angularjs/ngmodules/angular-animate.js" th:src = "@{/webjars/angularjs/1.3.15/angular-animate.js}"></script>
    <script src = "../static/angularjs/ngmodules/angular-aria.js" th:src = "@{/webjars/angularjs/1.3.15/angular-aria.js}"></script>
    <script src = "../static/angularjs/ngmodules/angular-route.js" th:src = "@{/webjars/angularjs/1.3.15/angular-route.js}"></script>
    <script src = "../static/angularjs/ngmodules/angular-resource.js" th:src = "@{/webjars/angularjs/1.3.15/angular-resource.js}"></script>

    <script src = "../static/angularjs/controllers/logbook.js" th:src = "@{/angularjs/controllers/logbook.js}"></script>
    <script src = "../static/angularjs/controllers/personController.js" th:src = "@{/angularjs/controllers/personController.js}"></script>
    <script src = "../static/angularjs/controllers/adminController.js" th:src = "@{/angularjs/controllers/adminController.js}"></script>
    <script src = "../static/angularjs/controllers/userController.js" th:src = "@{/angularjs/controllers/userController.js}"></script>

</head>
<body >


<nav ng-controller="mainLogBookCtrl" class="navbar navbar-default" >
    <div class="container-fluid" style="background-color: rgba(255, 214, 193, 0.51)">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"  href="">ЭЛЕКТРОННЫЙ ФОРМУЛЯР </a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="">Link</a></li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="">Action</a></li>
                        <li><a href="">Another action</a></li>
                        <li><a href="">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search"/>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="">Link</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" sec:authentication="principal.username" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Администратор<span class="caret"></span></a>
                    <ul class="dropdown-menu">

                            <li><a sec:authorize="hasRole('ROLE_ADMIN')" href="" ng-click="setView('/person')">Пользователи</a></li>
                            <li><a sec:authorize="hasRole('ROLE_ADMIN')" href="" ng-click="setView('/edit')">Коммиссия</a></li>

                        <li><a th:href="@{/logout}">Выйти</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="">Цифровая подпись</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
<!--<button ng-click="hidePanel()">View ng</button>-->

</nav>     <!--<ng-include ng-if = "true" src = "'/page'"></ng-include>-->
    <ng-view ></ng-view>
        <!--<div sec:authorize="hasRole('ROLE_ADMIN')" ng-controller = "adminCtrl">-->
            <!--<ng-view ></ng-view>-->
        <!--</div>-->

    <!--<div sec:authorize="hasRole('ROLE_USER')" ng-controller = "userCtrl">-->
        <!--<ng-view ></ng-view>-->
    <!--</div>-->




     <div sec:authorize="hasRole('ROLE_USER')">
         This content is only shown to users.
     </div>
     <div sec:authorize="hasRole('ROLE_ADMIN')">
         This content is only shown to users.
     </div>
     Logged user: <span sec:authentication="name">Bob</span>
     Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
     <a th:href="@{/logout}">
         <i class="fa fa-power-off"></i>
         <span>Logout</span>
     </a>
     <script src = "../static/angularjs/dropdown.js" th:src = "@{/webjars/bootstrap/3.3.4/js/dropdown.js}"></script>

</body>
</html>